// Colors

$primaryColor: rgb(50,70,81);
$secondaryColor: rgb(255,230,0);
$darkerBlue: rgb(24,34,39);
$blueTransparent: rgba(51, 71, 82, 0.808);

$white: rgb(255,255,255);


// Media queries
$small: 320px;
$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;
$desktopxl: 1400px;

// Typography
$primaryFont: "Open Sans", sans-serif;
